/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    font-family: 'DM Sans' !important;
}

.bg-splash {
    background-image: url(./assets/bg-splash.gif) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100% !important;
    height: 100vh !important;
}

.card-login {
    border: 1px solid #DEE2E6 !important;
    width: 500px !important;
    border-radius: 12px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    padding-bottom: 32px !important;
}

.btn-login {
    background-color: #86c1a3 !important;
    height: 51px !important;
    font-weight: bold !important;
}

.input-login {
    height: 51px !important;
}